﻿@using Epam.Labs.TrainingProject.AppCore.Entities
@model IEnumerable<AuthenticationData>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
}

@section AddToHead{

    <link type="text/css" rel="stylesheet" href="~/css/adminArea.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Admin area"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>Admin / AdminArea</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADMIN NAVBAR -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="myNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav navbar-links">
            <li class="nav-item">
                <a class="nav-link admin-link" asp-controller="Admin" asp-action="AdminArea">@Localizer["APP USERS"]</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle admin-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    @Localizer["DATA ENTITIES"]
                </a>
                <div class="dropdown-menu admin-list" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item admin-list-item" asp-controller="Admin" asp-action="Cities">@Localizer["CITIES"]</a>
                    <a class="dropdown-item admin-list-item" asp-controller="Admin" asp-action="Venues">@Localizer["VENUES"]</a>
                    <a class="dropdown-item admin-list-item" asp-controller="Admin" asp-action="Events">@Localizer["EVENTS"]</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 80%;">

    <div class="container" style="width: 100%;">

        <!-- APP USERS -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Applications users"]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>

        <br><br>

        <div class="row titles">
            <div class="col-md-4"><b>@Localizer["Full name"]</b></div>
            <div class="col-md-3"><b>@Localizer["Email"]</b></div>
            <div class="col-md-2"><b>@Localizer["Role"]</b></div>
            <div class="col-md-3"><b>@Localizer["Rights"]</b></div>
        </div>

        @foreach (var item in Model)
            {
            <div class="row list-items">

                <div class="col-md-4">
                    @item.User.FirstName @item.User.LastName
                </div>
                <div class="col-md-3">
                    @item.Email
                </div>
                <div class="col-md-2">
                    @item.Role.Name
                </div>
                <div class="col-md-3">
                    @if (item.Role.Name == "admin")
                    {
                        <a href="@Url.Action("RevokeAdminRights", "Admin", new { username = item.Username })">@Localizer["Revoke admin rights"]</a>
                    }
                    else
                    {
                        <a href="@Url.Action("GrantAdminRights", "Admin", new { username = item.Username })">@Localizer["Grant admin rights"]</a>
                    }
                </div>
            </div>
        }

    </div>

</div>