﻿@using Epam.Labs.TrainingProject.Web.Models.DbModels
@model AddEditEventModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
}

@section AddToHead{

    <link type="text/css" rel="stylesheet" href="~/css/account.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-info" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Admin area"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>Admin / AdminArea</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADMIN NAVBAR -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="myNav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav navbar-links">
            <li class="nav-item">
                <a class="nav-link admin-link" asp-controller="Admin" asp-action="AdminArea">@Localizer["APP USERS"]</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle admin-link" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    @Localizer["DATA ENTITIES"]
                </a>
                <div class="dropdown-menu admin-list" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item admin-list-item" asp-controller="Admin" asp-action="Cities">@Localizer["CITIES"]</a>
                    <a class="dropdown-item admin-list-item" asp-controller="Admin" asp-action="Venues">@Localizer["VENUES"]</a>
                    <a class="dropdown-item admin-list-item" asp-controller="Admin" asp-action="Events">@Localizer["EVENTS"]</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- CITY CHANGE/ADD -->
<div class="container main-content text-center">

    <h4><b>@Localizer["Edit event"]</b></h4>


    <br><br />
    <div class="container form-login text-center">

        <form asp-action="EditEvent" asp-controller="Admin" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <input type="hidden" asp-for="IdOfCurrentEvent" class="form-control" value="@ViewBag.Event.Id">
                <div class="form-group">
                    <label><b>@Localizer["Name"]</b></label>
                    <input type="text" asp-for="Name" class="form-control" value="@ViewBag.Event.Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label><b>@Localizer["Date"]</b></label>
                    <input type="date" asp-for="Date" class="form-control" value="@ViewBag.Event.Date.ToString("yyyy-MM-dd")">
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label><b>@Localizer["Venue"]</b></label>
                    <select asp-for="VenueId" class="form-control">

                        <option value="@ViewBag.Event.VenueId" selected>@ViewBag.Event.Venue.City.Name.ToUpper(), @ViewBag.Event.Venue.Name</option>
                        @await Component.InvokeAsync("VenuesList")

                    </select>
                    <span asp-validation-for="VenueId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label><b>@Localizer["Category"]</b></label>
                    <select asp-for="CategoryId" class="form-control">

                        <option value="@ViewBag.Event.CategoryId" selected>@ViewBag.Event.Category.Name</option>
                        @await Component.InvokeAsync("CategoriesOptionsList")

                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label><b>@Localizer["Description"]</b></label>
                    <input type="text" asp-for="Description" class="form-control" value="@ViewBag.Event.Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default submit-register"><b>@Localizer["Edit"]</b></button>
                </div>
            </div>
        </form>

        <br><br>
    </div>

</div>