﻿@using Epam.Labs.TrainingProject.Web.Models.PaginationViewModels
@model TicketViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";

    int visibleTicketsAmount = 0;
    List<Guid> indexesOfVisibleTickets = new List<Guid>();

    int importantTicketsAmount = 0;
    List<Guid> indexesOfVisibleImportantTickets = new List<Guid>();
}

@section AddToHead{

    <link type="text/css" rel="stylesheet" href="~/css/tickets.css" />
}


@if (ViewBag.CartOption != null)
{
    if (ViewBag.CartOption == 0)
    {
        var str = Localizer["Impossible to add to your cart ticket, that you sale."];
        <script charset="utf-8">
            alert('@str');
        </script>
    }
    else
    {
        var str = Localizer["Selected ticket was added to cart."];
        <script charset="utf-8">
            alert('@str');
        </script>
    }
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-archive" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Tickets"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            @if (Model.CurrentTitle == "")
                            {
                                <h3>Ticket / Tickets</h3>
                            }
                            else
                            {
                                <h3>Ticket / Tickets / @Model.CurrentTitle</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 80%;">

    <div class="container" style="width: 100%;">

        <!-- TOP TICKETS -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-fire" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["TOP Tickets"]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-12">

                <div class="row" id="area" style="width: 100%;">

                    @foreach (var Ticket in Model.ImportantTickets)
                    {
                        if (importantTicketsAmount < 4)
                        {
                            if (!indexesOfVisibleImportantTickets.Contains(Ticket.Id))
                            {
                                string sellerName = Ticket.Seller.FirstName + " " + Ticket.Seller.LastName;

                                <div class="col-md-3">
                                    @{ 
                                        string cardId = @Ticket.Id.ToString() + "-imp";
                                        string cartId = "cart-" + @Ticket.Id.ToString() + "-imp";
                                        string priceId = "price-" + @Ticket.Id.ToString() + "-imp";
                                    }
                                    <div class="ticket-card" id="@cardId">
                                        <div class="event-name">
                                            <b>@Localizer["Event"]:</b> &nbsp; @Ticket.Event.Name <br>
                                            <b>@Localizer["Date"]:</b> &nbsp; @Ticket.Event.Date.ToString("MM.dd.yyyy")
                                        </div>
                                        <div class="seller-name">
                                            <b>@Localizer["Seller"]:</b> &nbsp; @sellerName
                                        </div>
                                        <div class="ticket-price" id="@priceId">
                                            <b>$@Ticket.Price</b>
                                        </div>
                                        <div class="add-to-cart" id="@cartId">
                                            <a href="@Url.Action("AddTicketToCart", "Ticket", new { ticketId = Ticket.Id })">
                                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                            </a>                                            
                                        </div>
                                    </div>

                                </div>

                                importantTicketsAmount++;
                                indexesOfVisibleImportantTickets.Add(Ticket.Id);
                            }
                        }
                        else
                        {
                            importantTicketsAmount = 0;
                            break;
                        }
                    }

                </div>

            </div>
        </div>

        <br><br /><br />

        <!-- OTHER TICKETS -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-ticket" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        
                            @if (Model.CurrentTitle == "")
                            {
                                <div class="square-title-black">
                                    @Localizer["All existing tickets"]
                                </div>
                            }
                            else
                            {
                                <div class="square-title-black">
                                    @Model.CurrentTitle
                                </div>
                            }
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                
                @if (Model.CurrentTitle == "")
                {
                    <div class="row" style="padding-left: 15px;">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title-black">
                                <div class="dropdown">

                                    @{
                                        LocalizedHtmlString currentSorting = Localizer[""];
                                        LocalizedHtmlString newSorting = Localizer[""];
                                        if (Model.OtherSorting == 0)
                                        {
                                            currentSorting = Localizer["Sort by date"];
                                            newSorting = Localizer["By popularity"];
                                        }
                                        else
                                        {
                                            currentSorting = Localizer["Sort by popularity"];
                                            newSorting = Localizer["By date"];
                                        }
                                    }

                                    <button class="btn btn-secondary dropdown-toggle sort-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        @currentSorting
                                    </button>

                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a asp-action="Tickets" asp-route-sortBy="@Model.OtherSorting" class="dropdown-item">@newSorting</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                        }

            </div>
        </div>

        <br /><br />

        @for (int i = 0; i < Model.RowsAmount; i++)
        {
            <div class="row" style="width: 100%;">
                @foreach (var Ticket in Model.Tickets)
                {
                    if (visibleTicketsAmount < 4)
                    {
                        if (!indexesOfVisibleTickets.Contains(Ticket.Id))
                        {

                            string sellerName = Ticket.Seller.FirstName + " " + Ticket.Seller.LastName;

                            <div class="col-md-3">

                                @{
                                    string cardId = @Ticket.Id.ToString();
                                    string cartId = "cart-" + @Ticket.Id.ToString();
                                    string priceId = "price-" + @Ticket.Id.ToString();
                                }

                                <div class="ticket-card" id="@cardId">
                                    <div class="event-name">
                                        <b>@Localizer["Event"]:</b> &nbsp; @Ticket.Event.Name <br>
                                        <b>@Localizer["Date"]:</b> &nbsp; @Ticket.Event.Date.ToString("MM.dd.yyyy")
                                    </div>
                                    <div class="seller-name">
                                        <b>@Localizer["Seller"]:</b> &nbsp; @sellerName
                                    </div>
                                    <div class="ticket-price" id="@priceId">
                                        <b>$@Ticket.Price</b>
                                    </div>
                                    <div class="add-to-cart" id="@cartId">
                                        <a href="@Url.Action("AddTicketToCart", "Ticket", new { ticketId = Ticket.Id })">
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            indexesOfVisibleTickets.Add(Ticket.Id);
                            visibleTicketsAmount++;
                        }
                    }
                    else if (visibleTicketsAmount == 4)
                    {
                        visibleTicketsAmount = 0;
                        break;
                    }
                }
            </div>
            <br />
        }

        <br />

        <!-- Pagination -->
        <div class="row text-center" style="width: 100%;">
            <div class="col-lg-12">
                @if (Model.PageViewModel.HasPreviousPage)
            {
                    <a asp-action="Tickets"
                       asp-route-page="@(Model.PageViewModel.PageNumber - 1)" asp-route-sortBy="@ViewBag.CurrentSort"
                       class="btn btn-default btn-page">
                        <b><i class="fa fa-angle-double-left" aria-hidden="true"></i> @Localizer["Prev"]</b>
                    </a>
                }
                @if (Model.PageViewModel.HasNextPage)
            {
                    <a asp-action="Tickets" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" asp-route-sortBy="@ViewBag.CurrentSort" class="btn btn-default btn-page">
                        <b>@Localizer["Next"] <i class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $('.ticket-card').hover(e => {
        var card = e.target.closest('.ticket-card');
        if (card) {
            var id = card.id;
            $('#cart-' + id).show(500);
            $('#price-' + id).hide(500);
        }
        e.stopPropagation();
    }, e => {
        var card = e.target.closest('.ticket-card');
        if (card) {
            var id = card.id;
            $('#cart-' + id).hide(500);
            $('#price-' + id).show(500);
        }
        });
</script>

<br /><br />