@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/*------ FONT ------*/
/*------ COLORS ------*/
/*------ SIZES ------*/
/*------ SCREEN LARGE RESOLUTION ------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800,900');
/*---------------- COLORS ---------------*/
/*---------------- SIZES ------------------*/
/*------------------- BACKGROUND -------------------*/
.custom-background {
  z-index: 9;
  height: 25vh;
  background: url(http://demo.themeum.com/wordpress/newedge/wp-content/themes/newedge/images/blog-banner.jpg) no-repeat center;
  background-size: cover;
}
.custom-background-title {
  padding-top: 10vh;
}
/*------------------ LOGIN ------------------------*/
.form-control {
  border-radius: 0px;
  padding: 15px 15px;
}
select.form-control:not([size]):not([multiple]) {
  height: inherit;
}
.form-login {
  width: 45%;
}
.form-login p {
  color: #666;
}
.form-login a {
  color: #29333f;
}
.form-login a:hover {
  color: #13a3d5;
  text-decoration: none;
  transition: 0.4s;
}
.submit-login {
  border-radius: 0px;
  width: 100%;
  padding: 12px 12px;
  background-color: #2D2D43;
  color: #fff;
  cursor: pointer;
}
.square {
  width: 40px;
  height: 40px;
  background: #13a3d5;
}
.square-item {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}
.square-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
  color: #fff;
  margin-left: 15px;
}
h3 {
  color: #fff;
}
.main-content {
  margin-top: 70px;
  width: 70%;
}
h4 {
  font-size: 42px;
}
/*------------- REGISTER --------------*/
.submit-register {
  border-radius: 0px;
  width: 100%;
  padding: 12px 12px;
  background-color: #2D2D43;
  color: #fff;
  cursor: pointer;
}
/*-------------- ADMIN -----------------*/
.admin-link {
  font-size: 16px;
}
.admin-list {
  border-radius: 0px;
}
.admin-list-item {
  padding: 10px 15px;
}
.admin-list-item:hover {
  background-color: #13a3d5;
}
