@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/*------ FONT ------*/
/*------ COLORS ------*/
/*------ SIZES ------*/
/*------ SCREEN LARGE RESOLUTION ------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800,900');
/*---------------- COLORS ---------------*/
/*---------------- SIZES ------------------*/
/*------------------- BACKGROUND -------------------*/
.custom-background {
  z-index: 9;
  height: 25vh;
  background: url(http://demo.themeum.com/wordpress/newedge/wp-content/themes/newedge/images/blog-banner.jpg) no-repeat center;
  background-size: cover;
}
.custom-background-title {
  padding-top: 10vh;
}
/*------------------- EVENTS ------------------*/
.events {
  margin-top: 40px;
}
.card-title {
  font-weight: 800;
  font-size: 20px;
}
.btn-primary {
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-primary:hover {
  background-color: #13a3d5;
  border: 1px solid #fff;
}
h3 {
  color: #fff;
}
/*------------------- MAIN CONTENT ---------------------*/
.main-content {
  margin-top: 40px;
}
.square {
  width: 40px;
  height: 40px;
  background: #13a3d5;
}
.square-item {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}
.square-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
  color: #fff;
  margin-left: 15px;
}
.square-title-black {
  font-size: 24px;
  line-height: 40px;
  color: #29333f;
  margin-left: 15px;
}
.square-mini {
  width: 30px;
  height: 30px;
  background: #13a3d5;
}
.square-item-mini {
  color: #fff;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
}
.square-title-black-mini {
  font-size: 15px;
  line-height: 30px;
  color: #29333f;
  margin-left: 15px;
}
.btn-find-tickets {
  padding-top: 10px;
  border-radius: 0px;
  background-color: #2D2D43;
  color: #fff;
  font-weight: 800;
}
.btn-find-tickets:hover {
  transition: 0.4s;
  background-color: #13a3d5;
  color: #fff;
  font-weight: 800;
}
/*------------------ SMALL CARDS -------------------*/
.small-events {
  padding-left: 0;
}
.small-card {
  border-radius: 0px;
  border: none;
}
.block-small-card {
  padding: 0;
}
.block-small-card img {
  position: relative;
  width: 100%;
  height: 290px;
}
.card-block-text-small {
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.4);
}
div.card-block-text-small:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}
/*-------------- PAGINTATION ----------------*/
.btn-page {
  border-radius: 0px;
  background-color: #E9EAED;
  color: #29333f;
}
.btn-page:hover {
  background-color: #13a3d5;
  color: #fff;
}
/*--------------------- CATEGORIES -----------------------*/
.categories {
  padding-left: 30px;
}
li.custom-list-item {
  font-size: 16px;
  list-style-type: none;
  padding: 20px 0px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #E9EAED;
}
.custom-list {
  padding: 0;
}
.custom-list-item a {
  color: #111;
  font-size: 16px;
}
