@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/*------ FONT ------*/
/*------ COLORS ------*/
/*------ SIZES ------*/
/*------ SCREEN LARGE RESOLUTION ------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800,900');
/*---------------- COLORS ---------------*/
/*---------------- SIZES ------------------*/
/*------------------- BACKGROUND -------------------*/
.custom-background {
  z-index: 9;
  height: 60vh;
  background: url(http://res.cloudinary.com/dby4pjuo8/image/upload/v1499620433/Re-ticket%20system/Backgrounds/back1.jpg) no-repeat center;
  background-size: cover;
}
/*------------------- MAIN CONTENT ---------------------*/
.main-content {
  margin-top: 50px;
}
.square {
  width: 40px;
  height: 40px;
  background: #13a3d5;
}
.square-item {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}
.square-title {
  font-size: 24px;
  line-height: 40px;
}
.square-right {
  margin-left: 15px;
}
/*------------------- EVENTS ------------------*/
.events {
  margin-top: 40px;
}
.card-title {
  font-weight: 800;
  font-size: 27px;
}
.btn-primary {
  border-radius: 0px;
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-primary:hover {
  background-color: #13a3d5;
  border: 1px solid #fff;
}
/*----------------- BIG CARD -------------------*/
.big-card {
  border-radius: 0px;
  border: none;
}
.card-block-text {
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.4);
}
div.card-block-text:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}
.big-event {
  padding-left: 0;
}
.card-block img {
  position: relative;
  height: 600px;
  width: 100%;
}
.card-block {
  padding: 0;
}
/*------------------ SMALL CARDS -------------------*/
.small-events {
  padding-left: 0;
}
.small-card {
  border-radius: 0px;
  border: none;
}
.block-small-card {
  padding: 0;
}
.block-small-card img {
  position: relative;
  height: 290px;
}
.card-block-text-small {
  width: 100%;
  bottom: 0;
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.4);
}
div.card-block-text-small:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}
/*--------------------- CATEGORIES -----------------------*/
.categories {
  padding-left: 30px;
}
li.custom-list-item {
  font-size: 16px;
  list-style-type: none;
  padding: 20px 0px;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #E9EAED;
}
.custom-list {
  padding: 0;
}
.custom-list-item a {
  color: #111;
  font-size: 16px;
}
