@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/*------ FONT ------*/
/*------ COLORS ------*/
/*------ SIZES ------*/
/*------ SCREEN LARGE RESOLUTION ------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800,900');
/*---------------- COLORS ---------------*/
/*---------------- SIZES ------------------*/
/*------------------- BACKGROUND -------------------*/
.custom-background {
  z-index: 9;
  height: 25vh;
  background: url(http://demo.themeum.com/wordpress/newedge/wp-content/themes/newedge/images/blog-banner.jpg) no-repeat center;
  background-size: cover;
}
.custom-background-title {
  padding-top: 10vh;
}
h3 {
  color: #fff;
}
/*--------------------------- TICKETS ---------------------------------*/
.ticket-card {
  border: 1px solid #29333f;
  padding: 0;
  background: url(https://t3.ftcdn.net/jpg/00/71/24/74/240_F_71247451_uZlrWRp5SdMPw2MOSJ8gC1QQ946Ns05c.jpg) no-repeat center;
  background-size: cover;
  font-size: 15px;
  color: #29333f;
}
.seller-name,
.event-name,
.ticket-price,
.add-to-cart {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.seller-name {
  padding-bottom: 8px;
}
.ticket-price {
  color: #8dc63f;
  font-size: 21px;
  height: 60px;
}
.add-to-cart {
  height: 60px;
  display: none;
  font-size: 26px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.add-to-cart a {
  color: orange;
}
/*------------------- MAIN CONTENT ---------------------*/
.main-content {
  margin-top: 40px;
}
.square {
  width: 40px;
  height: 40px;
  background: #13a3d5;
}
.square-item {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}
.square-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
  color: #fff;
  margin-left: 15px;
}
.square-title-black {
  font-size: 24px;
  line-height: 40px;
  color: #29333f;
  margin-left: 15px;
}
.sort-btn {
  height: 40px;
  border-radius: 0px;
  margin-bottom: 3px;
  border-color: #13a3d5;
  font-size: 18px;
  color: #29333f;
  width: 192px;
}
.dropdown-menu {
  min-width: 192px;
  border-radius: 0px;
  border: none;
  background-color: #F5F6FA;
}
.dropdown-item {
  color: #111;
}
.dropdown-item:hover {
  background-color: #13a3d5;
}
/*-------------- PAGINTATION ----------------*/
.btn-page {
  border-radius: 0px;
  background-color: #E9EAED;
  color: #29333f;
}
.btn-page:hover {
  background-color: #13a3d5;
  color: #fff;
}
/*------------------ USER TICKETS / ORDERS ------------------*/
.btn-remove {
  cursor: pointer;
  border-radius: 0px;
  color: red;
  border-color: red;
  background-color: transparent;
  font-size: 20px;
  padding: 5px 10px;
  min-width: 140px;
  height: 40px;
}
.btn-remove:hover {
  color: #fff;
  background-color: red;
  border-color: red;
}
.btn-confirm {
  cursor: pointer;
  border-radius: 0px;
  color: forestgreen;
  border-color: forestgreen;
  background-color: transparent;
  font-size: 20px;
  padding: 5px 10px;
  min-width: 140px;
  height: 40px;
}
.btn-confirm:hover {
  color: #fff;
  background-color: forestgreen;
  border-color: forestgreen;
}
.btn-edit {
  cursor: pointer;
  border-radius: 0px;
  color: darkorange;
  border-color: darkorange;
  background-color: transparent;
  width: 52px;
  font-size: 18px;
  padding: 5px 10px;
}
.btn-edit:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-reject-info {
  cursor: pointer;
  border-radius: 0px;
  color: #13a3d5;
  border-color: #13a3d5;
  background-color: #fff;
  font-size: 18px;
  padding: 5px 10px;
}
.btn-reject-info:hover {
  color: #fff;
  background-color: #13a3d5;
  border-color: #13a3d5;
}
h4 {
  font-size: 23px;
}
.btn-add-ticket {
  cursor: pointer;
  height: 40px;
  font-size: 22px;
  border-radius: 0px;
  background-color: #29333f;
  border: none;
  line-height: 22px;
  margin-bottom: 3px;
}
.btn-add-ticket:hover {
  background-color: #13a3d5;
}
.ticket-order {
  border: 1px solid #E9EAED;
  padding: 20px 15px;
}
