@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/*------ FONT ------*/
/*------ COLORS ------*/
/*------ SIZES ------*/
/*------ SCREEN LARGE RESOLUTION ------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800,900');
/*---------------- COLORS ---------------*/
/*---------------- SIZES ------------------*/
/*---------- BACKGROUND ----------*/
.background {
  background-image: url(http://res.cloudinary.com/dby4pjuo8/image/upload/Re-ticket%20system/Backgrounds/header-account.jpg);
  background-position: top;
  background-repeat: no-repeat;
  height: 35%;
  background-size: 100%;
}
h2 {
  margin-top: 90px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 75px;
  font-weight: 800;
}
/*---------------------------------------------------------------------*/
/*---------- MAIN CONTENT ----------*/
.col-lg-3 .add-ticket .btn-default {
  background-color: #4D4942;
  border-color: #111;
  color: #fff;
  transition: 0.5s;
}
.col-lg-3 .add-ticket .btn-default:hover {
  background-color: #fff;
  border-color: #111;
  color: #4D4942;
}
.panel-default {
  padding-left: 8px;
  background-color: #F3F2E4;
  margin: 0;
}
.event-name {
  padding-right: 5px;
  padding-top: 10px;
  height: 75px;
  overflow: hidden;
}
.price {
  color: #111;
  font-size: 22px;
  font-weight: 800;
}
.btn-remove {
  float: right;
  margin-right: 7px;
  padding: 4px 8px;
}
.btn-edit {
  float: right;
  margin-right: 7px;
  padding: 4px 8px;
}
/*---------------------------------------------------------------------*/
/*---------- SCREEN SIZE CHANGES -----------*/
@media screen and (max-width: 1024px) {
  .background {
    background-position: center;
    background-size: cover;
  }
  h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .background {
    height: 45%;
  }
  h2 {
    font-size: 0px;
  }
}
@media screen and (min-width: 1900px) {
  h2 {
    font-size: 100px;
    margin-top: 125px;
  }
}
@media screen and (min-width: 2500px) {
  .navbar-default {
    height: 100px;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 50px;
    line-height: 55px;
  }
  .navbar-default .navbar-brand {
    font-weight: 800;
    line-height: 55px;
    font-size: 70px;
  }
  h2 {
    font-size: 170px;
    margin-top: 280px;
  }
  h1 {
    font-size: 80px;
  }
  .price {
    font-size: 40px;
  }
  h4 {
    font-size: 32px;
  }
  h5 {
    font-size: 25px;
  }
  .btn-add-ticket,
  .btn-edit,
  .btn-remove {
    font-size: 28px;
  }
}
/*---------------------------------------------------------------------*/
