@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);
/*------ FONT ------*/
/*------ COLORS ------*/
/*------ SIZES ------*/
/*------ SCREEN LARGE RESOLUTION ------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800,900');
/*---------------- COLORS ---------------*/
/*---------------- SIZES ------------------*/
/*------------------- BACKGROUND -------------------*/
.custom-background {
  z-index: 9;
  height: 25vh;
  background: url(http://demo.themeum.com/wordpress/newedge/wp-content/themes/newedge/images/blog-banner.jpg) no-repeat center;
  background-size: cover;
}
.custom-background-title {
  padding-top: 10vh;
}
h3 {
  color: #fff;
}
/*------------------- MAIN CONTENT ---------------------*/
.main-content {
  margin-top: 40px;
}
.square {
  width: 40px;
  height: 40px;
  background: #13a3d5;
}
.square-item {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
}
.square-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
  color: #fff;
  margin-left: 15px;
}
.square-title-black {
  font-size: 24px;
  line-height: 40px;
  color: #29333f;
  margin-left: 15px;
}
.btn-confirm {
  cursor: pointer;
  height: 40px;
  font-size: 21px;
  border-radius: 0px;
  background-color: #29333f;
  border: none;
  margin-bottom: 3px;
}
.btn-confirm:hover {
  background-color: #13a3d5;
}
.user-info-item {
  padding: 20px 0px;
  border: 1px solid #E9EAED;
  border-top: none;
}
h4 {
  font-size: 20px;
}
