﻿@import "constants.less";

/*------------------- BACKGROUND -------------------*/
.custom-background {
    z-index: 9;
    height: 25vh;
    background: url(http://demo.themeum.com/wordpress/newedge/wp-content/themes/newedge/images/blog-banner.jpg) no-repeat center;
    background-size: cover;
}

.custom-background-title {
    padding-top: 10vh;
}

/*------------------ LOGIN ------------------------*/
.form-control {
    border-radius: 0px;
    padding: 15px 15px;
}

select.form-control:not([size]):not([multiple]) {
    height: inherit;
}

.form-login {
    width: 45%;
}

.form-login p {
    color: #666;
}

.form-login a {
    color: @colorHeader;
}

.form-login a:hover {
    color: @colorBlue;
    text-decoration: none;
    transition: 0.4s;
}

.submit-login {
    border-radius: 0px;
    width: 100%;
    padding: 12px 12px;
    background-color: #2D2D43;
    color: @colorWhite;
    cursor: pointer;
}

.square {
    width: 40px;
    height: 40px;
    background: @colorBlue;
}

.square-item {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.square-title {
    font-size: 28px;
    line-height: 40px;
    font-weight: 800;
    color: @colorWhite;
    margin-left: 15px;
}

h3 {
    color: @colorWhite;
}

.main-content {
    margin-top: 70px;
    width: 70%;
}

h4 {
    font-size: 42px;
}

/*------------- REGISTER --------------*/
.submit-register {
    border-radius: 0px;
    width: 100%;
    padding: 12px 12px;
    background-color: #2D2D43;
    color: @colorWhite;
    cursor: pointer;
}

/*-------------- ADMIN -----------------*/
.admin-link {
    font-size: 16px;
}

.admin-list {
    border-radius: 0px;
}

.admin-list-item {
    padding: 10px 15px;
}

.admin-list-item:hover {
    background-color: @colorBlue;
}