﻿@import "constants.less";

/*------------------- BACKGROUND -------------------*/
.custom-background {
    z-index: 9;
    height: 25vh;
    background: url(http://demo.themeum.com/wordpress/newedge/wp-content/themes/newedge/images/blog-banner.jpg) no-repeat center;
    background-size: cover;
}

.custom-background-title {
    padding-top: 10vh;
}

/*------------------- MAIN CONTENT ---------------------*/

h3 {
    color: @colorWhite;
}

.main-content {
    margin-top: 40px;
}

.square {
    width: 40px;
    height: 40px;
    background: @colorBlue;
}

.square-item {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.square-title {
    font-size: 28px;
    line-height: 40px;
    font-weight: 800;
    color: @colorWhite;
    margin-left: 15px;
}

.square-title-black {
    font-size: 24px;
    line-height: 40px;
    color: @colorHeader;
    margin-left: 15px;
}

.titles {
    font-size: 20px;
    padding: 15px 5px;
    border: 1px solid @colorDarker;
}

.list-items {
    padding: 25px 5px;
    border: 1px solid @colorDarker;
    border-top: none;
}

.admin-link {
    font-size: 16px;
}

.admin-list {
    border-radius: 0px;
}

.admin-list-item {
    padding: 10px 15px;
}

.admin-list-item:hover {
    background-color: @colorBlue;
}

.disabled {
    color: #333;
    pointer-events: none;
    cursor: default;
}

.btn-add {
    height: 40px;
    margin-bottom: 3px;
    border-radius: 0px;
    background-color: @colorHeader;
    border: none;
}

.btn-add:hover {
    background-color: @colorBlue;
}