﻿@import "constants.less";

/*------------------- BACKGROUND -------------------*/
.custom-background {
    z-index: 9;
    height: 25vh;
    background: url(http://demo.themeum.com/wordpress/newedge/wp-content/themes/newedge/images/blog-banner.jpg) no-repeat center;
    background-size: cover;
}

.custom-background-title {
    padding-top: 10vh;
}

h3 {
    color: @colorWhite;
}

/*-------------------- CART ITEMS -----------------------*/
.titles {
    font-size: 20px;
    padding: 15px 5px;
    border: 1px solid @colorDarker;
}

.cart-items, .order-valide {
    padding: 25px 5px;
    border: 1px solid @colorDarker;
    border-top: none;
}

.order-valide {
    font-size: 19px;
}

.remove-item {
    color: @colorHeader;
}

.event-title:hover {
    text-decoration: none;
    color: @colorHeader;
}

.btn-confirm {
    border-radius: 0px;
    background-color: @colorHeader;
    border: none;
}

.btn-confirm:hover {
    background-color: @colorBlue;
}

/*------------------- MAIN CONTENT ---------------------*/

.main-content {
    margin-top: 40px;
}

.square {
    width: 40px;
    height: 40px;
    background: @colorBlue;
}

.square-item {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.square-title {
    font-size: 28px;
    line-height: 40px;
    font-weight: 800;
    color: @colorWhite;
    margin-left: 15px;
}