﻿@import "constants.less";

* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*-------------------- UP-HEADER -------------------*/

.custom-up-header {
    height: @upHeaderHeight;
    width: 100%;
    background-color: @colorWhite;
    border-bottom: 1px solid @colorDivider;
    padding-right: 60px;
}

.custom-up-header-left {
    padding-left: 100px;
}

.custom-up-header-logo {
    height: @upHeaderHeight - 10px;
    padding-top: 10px;
}

.link-text {
    padding-left: 0;
}

.custom-up-header-links {
    line-height: @upHeaderHeight;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.custom-up-header-link {
    list-style-type: none;
    color: @colorHeader;
    border-right: 1px solid @colorDivider;
    padding: 0 20px;
}

.custom-up-header-link a {
    color: @colorHeader;
}

.custom-up-header-link a:hover {
    color: @colorBlue;
    text-decoration: none;
}

/*------------------- NAVBAR -----------------*/
.navbar-links {
    margin-left: 70px;
}

.bg-faded {
    position: relative;
    background-color: @colorWhite;
    font-size: 14px;
    border-bottom: 1px solid @colorDivider;
}

.navbar-light .navbar-nav .nav-link {
    color: @colorHeader;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: @colorBlue;
}

.badge-primary {
    background-color: @colorBlue;
    font-size: 13px;
    font-weight: 100;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: @colorHeader;
}

.brand-user {
    display: none;
}

/*---------------------- USER & CULTURE DROPDOWN MENU -------------------------*/
.user-menu {
    display: none;
    width: 12%;
    background-color: @colorWhite;
    margin-left: 80%;
    z-index: 100;
    position: absolute;
}

.culture-menu {
    display: none;
    background-color: @colorWhite;
    margin-left: 92.3%;
    z-index: 100;
    position: absolute;
    width: 4.6%;
}

.btn-link {
    color: @colorHeader;
}

.btn-link:hover {
    color: @colorHeader;
    text-decoration: none;
}


/*---------------------- EVENTS DROPDOWN --------------------*/
.dropdown-custom {
    display: none;
    background-color: @colorWhite;
    margin-left: 160px;
    width: 15%;
    z-index: 100;
    position: absolute;
}

.events-categories {
    background-color: @colorLighter;
}

.events-categories-list {
    padding: 0;
}

.events-categories-list-item {
    list-style-type: none;
    transition: 0.5s;
    width: 100%;
}

.events-categories-list-item:hover {
    background-color: @colorBlue;
}

.category-link {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: @colorBlack;
}

.events-categories-list a {
    color: @colorBlack;
}

.events-categories-list a:hover {
    text-decoration: none;
}

.event-examples {
    background-color: @colorDarker;
}

/*----------------------- FOOTER -----------------------*/
.footer {
    margin-top: 80px;
    width: 100%;
    height: 37vh;
    // background-color: @colorFooter;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-image: url(http://leopardo.com/wp-content/uploads/2012/02/Free-concrete-texture.jpg);
    z-index: 1;
}

.on-footer {
    margin-top: -30px;
    height: 30vh;
    background-color: @colorBlue;
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: center top;
    background-image: url(http://demo.themeum.com/wordpress/newedge/wp-content/uploads/2015/11/fooeter.png);
    z-index: 100;
}

.down-footer {
    padding-top: 40px;
}

.on-footer-data {
    padding-top: 30px;
    font-size: 16px;
    color: @colorWhite;
}

.about-info, .social {
    padding: 0;
}

.about-info li {
    list-style-type: none;
}

.wrap ul {
    padding: 0;
    list-style-position: inside;
    -moz-column-count: 2; /* Firefox */
    -webkit-column-count: 2; /* Safari and Chrome */
    column-count: 2;
    list-style-type: none;
    height: 60%;
}

.wrap ul li {
    padding-top: 5px;
}

.social li {
    list-style-type: none;
    padding-top: 8px;
}

.down-footer-data {
    color: @colorWhite;
    font-weight: 800;
    font-size: 16px;
}

.down-footer-data a, .down-footer-data a:hover, .down-footer-data a:focus {
    color: @colorBlue;
    text-decoration: none;
}

/*-------------------- MODAL -----------------------*/
.modal .modal-dialog {
    width: 35%;
    max-width: 1500px;
}

.close {
    font-size: 33px;
}

.modal-content {
    border-radius: 0px;
}

.form-control {
    border-radius: 0px;
    padding: 15px 15px;
}

.form-login {
    width: 90%;
}

.submit-login {
    border-radius: 0px;
    width: 100%;
    padding: 12px 12px;
    background-color: @colorBlue;
    color: @colorWhite;
}

.custom-list-item a:hover {
    text-decoration: none;
}


/*-------------------- SCREEN SIZES -------------------*/
@media screen and (max-width: 1000px) {
    .custom-up-header {
        display: none;
    }

    .brand-user {
        display: inline-block;
        margin-left: 80px;
    }
}

@media screen and (max-width: 1400px) {
    .on-footer-data, .down-footer-data {
        font-size: 14px;
    }

    .footer {
        height: 50vh;
    }

    .on-footer {
        height: 40vh;
    }
}

@media screen and (min-width: 2500px) {
    .user-menu {
        width: 7%;
    }

    .culture-menu {
        margin-left: 95.1%;
        width: 2.9%;
    }

    .on-footer-data {
        font-size: 33px;
    }
}
