﻿@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

/*------ FONT ------*/
@fontSizeMenuLogo: 25px;
@fontSizeMenu: 17px;
@fontSizwLabelMain: 75px;
@fontWeightMain: 800;

/*------ COLORS ------*/
@colorMain: #fff;
@colorMenuHover: rosybrown;
@colorBackFooterBanner: #f8f8f8;
@colorEventName: #333939;
@colorFontAccountPanels: #4D4239;
@colorFontPanelHelpers: #999;
@colorButtonMainAccount: #412222;
@colorAccountInfoText: #4D2336;

/*------ SIZES ------*/
@heightMainBackground: 45%;

/*------ SCREEN LARGE RESOLUTION ------*/
@heightMenuLargeResolution: 80px;
@fontSizeMenuLargeResolution: 50px;
@fontSizeMenuLogoLargeResolution: 70px;
@fontSizwLabelMainLargeResolution: 150px;




// NEW ------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,800,900');

/*---------------- COLORS ---------------*/
@colorWhite: #fff;
@colorHeader: #29333f;
@colorDivider: #e9eaed;
@colorBlue: #13a3d5;
@colorBlack: #111;
@colorLighter: #F5F6FA;
@colorDarker: #E9EAED;
@colorFooter: #D4D4D6;

/*---------------- SIZES ------------------*/
@upHeaderHeight: 65px;
