﻿@import "constants.less";

/*------------------- BACKGROUND -------------------*/
.custom-background {
    z-index: 9;
    height: 25vh;
    background: url(http://demo.themeum.com/wordpress/newedge/wp-content/themes/newedge/images/blog-banner.jpg) no-repeat center;
    background-size: cover;
}

.custom-background-title {
    padding-top: 10vh;
}

h3 {
    color: @colorWhite;
}

/*--------------------------- TICKETS ---------------------------------*/
.ticket-card {
    border: 1px solid @colorHeader;
    padding: 0;
    background: url(https://t3.ftcdn.net/jpg/00/71/24/74/240_F_71247451_uZlrWRp5SdMPw2MOSJ8gC1QQ946Ns05c.jpg) no-repeat center;
    background-size: cover;
    //background-color: @colorLighter;
    font-size: 15px;
    color: @colorHeader;
}

.seller-name, .event-name, .ticket-price, .add-to-cart {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.seller-name {
    padding-bottom: 8px;
}

.ticket-price {
    color: #8dc63f;
    font-size: 21px;
    height: 60px;
}

.add-to-cart {
    height: 60px;
    display: none;
    font-size: 26px;
    text-align: center;
    background-color: rgba(0, 0, 0, .8);
}

.add-to-cart a {
    color: orange;
}


/*------------------- MAIN CONTENT ---------------------*/

.main-content {
    margin-top: 40px;
}

.square {
    width: 40px;
    height: 40px;
    background: @colorBlue;
}

.square-item {
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.square-title {
    font-size: 28px;
    line-height: 40px;
    font-weight: 800;
    color: @colorWhite;
    margin-left: 15px;
}

.square-title-black {
    font-size: 24px;
    line-height: 40px;
    color: @colorHeader;
    margin-left: 15px;
}

.sort-btn {
    height: 40px;
    border-radius: 0px;
    margin-bottom: 3px;
    border-color: @colorBlue;
    font-size: 18px;
    color: @colorHeader;
    width: 192px;
}

.dropdown-menu {
    min-width: 192px;
    border-radius: 0px;
    border: none;
    background-color: @colorLighter;
}

.dropdown-item {
    color: #111;
}

.dropdown-item:hover {
    background-color: @colorBlue;
}

/*-------------- PAGINTATION ----------------*/
.btn-page {
    border-radius: 0px;
    background-color: @colorDarker;
    color: @colorHeader;
}

.btn-page:hover {
    background-color: @colorBlue;
    color: @colorWhite;
}


/*------------------ USER TICKETS / ORDERS ------------------*/
.btn-remove {
    cursor: pointer;
    border-radius: 0px;
    color: red;
    border-color: red;
    background-color: transparent;
    font-size: 20px;
    padding: 5px 10px;
    min-width: 140px;
    height: 40px;
}

.btn-remove:hover {
    color: @colorWhite;
    background-color: red;
    border-color: red;
}

.btn-confirm {
    cursor: pointer;
    border-radius: 0px;
    color: forestgreen;
    border-color: forestgreen;
    background-color: transparent;
    font-size: 20px;
    padding: 5px 10px;
    min-width: 140px;
    height: 40px;
}

.btn-confirm:hover {
    color: @colorWhite;
    background-color: forestgreen;
    border-color: forestgreen;
}

.btn-edit {
    cursor: pointer;
    border-radius: 0px;
    color: darkorange;
    border-color: darkorange;
    background-color: transparent;
    width: 52px;
    font-size: 18px;
    padding: 5px 10px;
}

.btn-edit:hover {
    color: @colorWhite;
    background-color: darkorange;
    border-color: darkorange;
}

.btn-reject-info {
    cursor: pointer;
    border-radius: 0px;
    color: @colorBlue;
    border-color: @colorBlue;
    background-color: @colorWhite;
    font-size: 18px;
    padding: 5px 10px;
}

.btn-reject-info:hover {
    color: @colorWhite;
    background-color: @colorBlue;
    border-color: @colorBlue;
}

h4 {
    font-size: 23px;
}

.btn-add-ticket {
    cursor: pointer;
    height: 40px;
    font-size: 22px;
    border-radius: 0px;
    background-color: @colorHeader;
    border: none;
    line-height: 22px;
    margin-bottom: 3px;
}

.btn-add-ticket:hover {
    background-color: @colorBlue;
}

.ticket-order {
    border: 1px solid @colorDarker;
    padding: 20px 15px;
}