﻿@using Epam.Labs.TrainingProject.Web.Models.AccountViewModels
@model LoginModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/account.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Login"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>Account / Login</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- LOGIN -->
<div class="container main-content text-center">
    <h4><b>@Localizer["Welcome"]</b></h4>
    <br><br />
    <div class="container form-login text-center">
        <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <input type="text" asp-for="Username" class="form-control" placeholder="@Localizer["User Name"]">
                    <span asp-validation-for="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="@Localizer["Password"]">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default submit-login"><b>@Localizer["Login"]</b></button>
                </div>
            </div>
        </form>

        <br><br>
        <a href="">@Localizer["Forgot password?"]</a>
        <br>
        <p>@Localizer["Not a member?"] <a href="~/Account/Register"><b>@Localizer["Join today"]</b></a></p>
    </div>
</div>