﻿@using Epam.Labs.TrainingProject.Web.Models.AccountViewModels
@model RegisterModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/account.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Registration"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>Account / Register</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- REGISTRATION -->
<div class="container main-content text-center">
    <h4><b>@Localizer["Welcome"]</b></h4>
    <br><br />
    <div class="container form-login text-center">
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <input type="text" asp-for="FirstName" class="form-control" placeholder="@Localizer["First Name"] *">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="LastName" class="form-control" placeholder="@Localizer["Last Name"] *">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="Username" class="form-control" placeholder="@Localizer["User Name"] *">
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select asp-for="Localization" class="form-control">
                        <option value="" disabled selected style="display:none;">@Localizer["Culture"] *</option>
                        <option value="en">EN</option>
                        <option value="ru">RU</option>
                        <option value="be">BY</option>
                    </select>
                    <span asp-validation-for="Localization" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="text" asp-for="Email" class="form-control" placeholder="@Localizer["Email"] *" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" placeholder="@Localizer["Password"] *"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="@Localizer["Confirm password"]" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default submit-register"><b>@Localizer["Sign Up"]</b></button>
                </div>
            </div>
        </form>

        <br><br>
    </div>
</div>