﻿@using Epam.Labs.TrainingProject.Web.Models.DbModels
@model AddTicketModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/account.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Add new ticket"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>AppUsers / AddNewTicket</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD TICKET -->
<div class="container main-content text-center">
    <h4><b>@Localizer["Add ticket"]</b></h4>
    <br><br />
    <div class="container form-login text-center">
        <form asp-action="AddNewTicket" asp-controller="AppUsers" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <label for="culture"><b>@Localizer["Event"]</b></label>
                    <select asp-for="EventId" id="culture" class="form-control">
                        
                        <option value="" disabled selected style="display:none;">@Localizer["Select event"]</option>
                        @await Component.InvokeAsync("EventsList")
                    
                    </select>
                    <span asp-validation-for="EventId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="price"><b>@Localizer["Price"] ($)</b></label>
                    <input type="number" asp-for="Price" class="form-control" id="price" placeholder="($)">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default submit-register"><b>@Localizer["Add"]</b></button>
                </div>
            </div>
        </form>

        <br><br>
    </div>
</div>
