﻿@using Epam.Labs.TrainingProject.Web.Models.ViewModels
@model ViewModelCart

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";

    List<Guid> ordersIds = new List<Guid>();
}

@section AddToHead{

    <link type="text/css" rel="stylesheet" href="~/css/cart.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Cart"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>AppUsers / Cart</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 80%;">

    @if (Model.CartItemsAmount > 0)
    {
        <!-- CART ITEMS -->
        <div class="container" style="width: 100%;">

            <div class="row titles">

                <div class="col-md-1"></div>
                <div class="col-md-6"><b>@Localizer["Event"]</b></div>
                <div class="col-md-3"><b>@Localizer["Addition date"]</b></div>
                <div class="col-md-2"><b>@Localizer["Price"]</b></div>
            </div>

            @foreach (var item in Model.CartItems)
            {
                <div class="row cart-items">

                    <div class="col-md-1 text-center">
                        <b>
                            <a href="@Url.Action("RemoveFromCart", "AppUsers", new { Id = item.Id })" class="remove-item">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                        </b>
                    </div>
                    <div class="col-md-6">
                        <a href="@Url.Action("Event", "Home", new { Id = item.Ticket.EventId })" class="event-title">
                            @item.Ticket.Event.Name, @item.Ticket.Event.Date.ToString("MM.dd.yyy")
                        </a>
                    </div>
                    <div class="col-md-3">
                        @item.Date.ToString("MM.dd.yyyy")
                    </div>
                    <div class="col-md-2">
                        $@item.Ticket.Price
                    </div>
                </div>

                ordersIds.Add(item.Id);
            }

            <div class="row order-valide">

                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <b>@Localizer["TOTAL"]: </b> &nbsp; $@Model.TotalCost
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3 text-center">
                    <a href="@Url.Action("ConfirmOrder", "AppUsers", new { ordersId = ordersIds })" class="btn btn-success btn-confirm">@Localizer["Confirm order"]</a>
                </div>
            </div>

        </div>
    }
    else
    {
        <h2>@Localizer["Cart is empty"]</h2> <br />
        <a href="~/Ticket/Tickets" class="btn btn-success btn-confirm" style="font-size: 21px;">@Localizer["Find tickets"]</a>
    }

</div>

<br /><br />