﻿@using Epam.Labs.TrainingProject.Web.Models.AccountViewModels
@model EditUserInfoModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/account.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Edit profile data"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>AppUsers / EditUserInfo</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EDIT PROFILE -->
<div class="container main-content text-center">
    <h4><b>@Localizer["Edit profile"]</b></h4>
    <br><br />
    <div class="container form-login text-center">
        <form asp-action="EditUserInfo" asp-controller="AppUsers" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <label for="firstName"><b>@Localizer["First name"]</b></label>
                    <input type="text" asp-for="FirstName" class="form-control" id="firstName" value="@ViewBag.UserToChange.User.FirstName">
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="lastName"><b>@Localizer["Last name"]</b></label>
                    <input type="text" asp-for="LastName" class="form-control" id="lastName" value="@ViewBag.UserToChange.User.LastName">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="email"><b>@Localizer["Email"]</b></label>
                    <input type="text" asp-for="Email" class="form-control" id="email" value="@ViewBag.UserToChange.Email">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="culture"><b>@Localizer["Culture"]</b></label>
                    <select asp-for="Culture" id="culture" class="form-control">
                        <option value="en" selected>en</option>
                        <option value="ru">ru</option>
                        <option value="be">be</option>
                    </select>
                    <span asp-validation-for="Culture" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="address"><b>@Localizer["Address"]</b></label>
                    <input type="text" asp-for="Address" class="form-control" id="address" value="@ViewBag.UserToChange.User.Address">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="phone"><b>@Localizer["Phone"]</b></label>
                    <input type="text" asp-for="Phone" class="form-control" id="phone" value="@ViewBag.UserToChange.User.Phone">
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-default submit-register"><b>@Localizer["Save"]</b></button>
                </div>
            </div>
        </form>

        <br><br>
    </div>
</div>
