﻿@using Epam.Labs.TrainingProject.Web.Models.AccountViewModels
@model RejectionModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/account.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Reject order"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>AppUsers / RejectTicketOrdering</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- EDIT PROFILE -->
<div class="container main-content text-center">
    <h5><b>@Localizer["Reject order"]</b></h5>
    <br><br />
    <div class="container form-login text-center">
        <form asp-action="RejectTicketOrdering" asp-controller="AppUsers" asp-anti-forgery="true">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <input type="hidden" asp-for="Id" class="form-control" id="comment" value="@ViewBag.OrderId">
                <div class="form-group">
                    <label for="comment"><b>@Localizer["Comment"]</b></label>
                    <textarea type="text" asp-for="Comment" class="form-control" id="comment" placeholder="You can write comment here"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-default submit-register"><b>@Localizer["Reject"]</b></button>
                </div>
            </div>
        </form>

        <br><br>
    </div>
</div>