﻿@using Epam.Labs.TrainingProject.Web.Models.AccountViewModels
@model UserTicketsViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";

    var visibleTicketsWFCAmount = 0;
    var indexesOfVisibleTicketsWFC = new List<Guid>();
    var visibleTicketsSellingAmount = 0;
    var indexesOfVisibleTicketsSelling = new List<Guid>();
    var visibleTicketsSoldAmount = 0;
    var indexesOfVisibleTicketsSold = new List<Guid>();

    var tickId = Guid.NewGuid();
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/tickets.css" />
}

<!-- MODAL -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                

            </div>
        </div>
    </div>
</div>


<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-archive" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["My tickets"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>AppUsers / UserTickets</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 80%;">

    <div class="container" style="width: 100%;">

        <!-- WFC TICKETS -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-fire" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Waiting for confirmation"]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            <a class="btn btn-success btn-add-ticket" href="@Url.Action("AddNewTicket", "AppUsers")"><b>@Localizer["Add new ticket"]</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <!-- Tickets in waiting for confirmation status -->
        @if (Model.WaitingConfirmationTickets.Count() > 0)
            {
            @for (int i = 0; i < ViewBag.RowsAmountWFCTickets; i++)
                {
                <div class="row">
                    @foreach (var Ticket in Model.WaitingConfirmationTickets)
                    {
                        if (visibleTicketsWFCAmount < 4)
                        {
                            if (!indexesOfVisibleTicketsWFC.Contains(Ticket.Id))
                            {
                                <div class="col-md-3">
                                    <div class="ticket-card">
                                        <div class="event-name">
                                            <b>@Localizer["Event"]:</b> &nbsp; @Ticket.Event.Name <br>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="ticket-price" style="padding-top: 20px;">
                                                    <h4><b>$@Ticket.Price</b></h4>
                                                </div>
                                            </div>
                                            <div class="col-md-8 text-right" style="padding-right: 25px; line-height: 60px;">
                                                <a type="button" href="@Url.Action("WfCTicketOrders", "AppUsers", new { ticketId = Ticket.Id })" class="btn btn-success btn-reject-info" title="Options">@Localizer["Options"]</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                indexesOfVisibleTicketsWFC.Add(Ticket.Id);
                                visibleTicketsWFCAmount++;
                            }
                        }
                        else if (visibleTicketsWFCAmount == 4)
                        {
                            visibleTicketsWFCAmount = 0;
                            break;
                        }
                    }
                </div>
                    <br />
            }
        }
        else
        {
            <h4>@Localizer["There are no tickets in this status."]</h4>
        }


        <br /><br />


        <!-- SELLING TICKETS -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-spinner" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Selling"]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>

        <br><br>

        <!-- Tickets in selling status -->
        @if (Model.SellingTickets.Count() > 0)
            {
            @for (int i = 0; i < ViewBag.RowsAmountSellingTickets; i++)
                {
                <div class="row">
                    @foreach (var Ticket in Model.SellingTickets)
                    {
                        if (visibleTicketsSellingAmount < 4)
                        {
                            if (!indexesOfVisibleTicketsSelling.Contains(Ticket.Id))
                            {
                                <div class="col-md-3">
                                    <div class="ticket-card">
                                        <div class="event-name">
                                            <b>@Localizer["Event"]: </b>@Ticket.Event.Name
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="ticket-price"><h4><b>$@Ticket.Price</b></h4></div>
                                            </div>
                                            <div class="col-md-6 text-right" style="padding-right: 25px; line-height: 60px;">
                                                <button type="button" class="btn btn-success btn-edit" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                indexesOfVisibleTicketsSelling.Add(Ticket.Id);
                                visibleTicketsSellingAmount++;
                            }
                        }
                        else if (visibleTicketsSellingAmount == 4)
                        {
                            visibleTicketsSellingAmount = 0;
                            break;
                        }
                    }
                </div>
             <br />
            }
        }
        else
        {
            <h4>@Localizer["There are no tickets in this status."]</h4>
        }

        <br /><br />

        <!-- SOLD TICKETS -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Sold"]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>

        <br><br>

        <!-- Tickets in sold status -->
        @if (Model.SoldTickets.Count() > 0)
            {
            @for (int i = 0; i < ViewBag.RowsAmountSoldTickets; i++)
                {
                <div class="row">
                    @foreach (var Ticket in Model.SoldTickets)
                    {
                        if (visibleTicketsSoldAmount < 4)
                        {
                            if (!indexesOfVisibleTicketsSold.Contains(Ticket.Id))
                            {
                                <div class="col-md-3">
                                    <div class="ticket-card">
                                        <div class="event-name">
                                            <b>@Localizer["Event"]: </b>@Ticket.Event.Name
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="ticket-price"><h4><b>$@Ticket.Price</b></h4></div>
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                indexesOfVisibleTicketsSold.Add(Ticket.Id);
                                visibleTicketsSoldAmount++;
                            }
                        }
                        else if (visibleTicketsSoldAmount == 4)
                        {
                            visibleTicketsSoldAmount = 0;
                            break;
                        }
                    }
                </div>
                    <br />
            }
        }
        else
        {
            <h4>@Localizer["There are no tickets in this status."]</h4>
        }

    </div>
</div>