﻿@using Epam.Labs.TrainingProject.AppCore.Entities
@model AuthenticationData

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/userInfo.css" />
}


<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Personal info"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>AppUsers / UserInfo</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 80%;">

    <div class="container" style="width: 100%;">

        <!-- TITLES -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-info" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Profile"]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            <a class="btn btn-success btn-confirm" href="@Url.Action("EditUserInfo", "AppUsers")"><b>@Localizer["Edit profile"]</b></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br />

        <div class="row">
            <div class="col-md-9">
                <div class="row user-info-item" style="border-top: 1px solid #E9EAED;">

                    <div class="col-md-4">
                        <h4><b>@Localizer["First name"]:</b></h4>
                    </div>
                    <div class="col-md-8">
                        <h4>@Model.User.FirstName</h4>
                    </div>

                </div>

                <div class="row user-info-item">

                    <div class="col-md-4">
                        <h4><b>@Localizer["Last name"]:</b></h4>
                    </div>
                    <div class="col-md-8">
                        <h4>@Model.User.LastName</h4>
                    </div>

                </div>

                <div class="row user-info-item">

                    <div class="col-md-4">
                        <h4><b>@Localizer["Username"]:</b></h4>
                    </div>
                    <div class="col-md-8">
                        <h4>@Model.Username</h4>
                    </div>

                </div>

                <div class="row user-info-item">

                    <div class="col-md-4">
                        <h4><b>@Localizer["Email"]:</b></h4>
                    </div>
                    <div class="col-md-8">
                        <h4>@Model.Email</h4>
                    </div>

                </div>

                <div class="row user-info-item">

                    <div class="col-md-4">
                        <h4><b>@Localizer["Address"]:</b></h4>
                    </div>
                    <div class="col-md-8">
                        <h4>@Model.User.Address</h4>
                    </div>

                </div>

                <div class="row user-info-item">

                    <div class="col-md-4">
                        <h4><b>@Localizer["Phone"]:</b></h4>
                    </div>
                    <div class="col-md-8">
                        <h4>@Model.User.Phone</h4>
                    </div>

                </div>

                <div class="row user-info-item">

                    <div class="col-md-4">
                        <h4><b>@Localizer["Culture"]:</b></h4>
                    </div>
                    <div class="col-md-8">
                        <h4>@Model.User.Culture.Name</h4>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

<br /><br />