﻿@using Epam.Labs.TrainingProject.Web.Models.AccountViewModels
@model UserOrdersViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";

    int visibleOrdersWFCAmount = 0;
    List<Guid> indexesOfVisibleOrdersWFC = new List<Guid>();
    int visibleOrdersConfirmedAmount = 0;
    List<Guid> indexesOfVisibleOrdersConfirmed = new List<Guid>();
    int visibleOrdersRejectedAmount = 0;
    List<Guid> indexesOfVisibleOrdersRejected = new List<Guid>();
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/tickets.css" />
}



<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-archive" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["My orders"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>AppUsers / UserOrders</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 80%;">

    <div class="container" style="width: 100%;">

        <!-- WFC ORDERS -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-fire" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Waiting for confirmation"]
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <!-- Orders in waiting for confirmation status -->
        @if (Model.WaitingForConfirmationOrders.Count() > 0)
            {
            @for (int i = 0; i < ViewBag.RowsAmountWFCOrders; i++)
                {
                <div class="row">
                    @foreach (var Order in Model.WaitingForConfirmationOrders)
                    {
                        if (visibleOrdersWFCAmount < 4)
                        {
                            if (!indexesOfVisibleOrdersWFC.Contains(Order.Id))
                            {
                                <div class="col-md-3">
                                    <div class="ticket-card">
                                        <div class="event-name">
                                            <b>@Localizer["Event"]: </b>@Order.Ticket.Event.Name
                                        </div>
                                        <div class="event-name">
                                            <b>@Localizer["Date"]: </b>@Order.Ticket.Event.Date.ToString("MM.dd.yyyy")
                                        </div>
                                        @*<div>
                                            <b>@Localizer["Seller"]: </b>@Order.Ticket.Seller.FirstName @Order.Ticket.Seller.LastName
                                        </div>*@
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="ticket-price" style="padding-top: 20px;">
                                                    <h4><b>$@Order.Ticket.Price</b></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                indexesOfVisibleOrdersWFC.Add(Order.Id);
                                visibleOrdersWFCAmount++;
                            }
                        }
                        else if (visibleOrdersWFCAmount == 4)
                        {
                            visibleOrdersWFCAmount = 0;
                            break;
                        }
                    }
                </div>
            <br />
            }
        }
        else
        {
            <h4>@Localizer["There are no orders in this status."]</h4>
        }


        <br /><br />
        

        <!-- CONFIRMED ORDERS -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Confirmed"]
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <!-- Orders in confirmed status -->
        @if (Model.ConfirmedOrders.Count() > 0)
            {
            @for (int i = 0; i < ViewBag.RowsAmountConfirmedOrders; i++)
                {
                <div class="row">
                    @foreach (var Order in Model.ConfirmedOrders)
                    {
                        if (visibleOrdersConfirmedAmount < 4)
                        {
                            if (!indexesOfVisibleOrdersConfirmed.Contains(Order.Id))
                            {
                                <div class="col-md-3">
                                    <div class="ticket-card">
                                        <div class="event-name">
                                            <b>@Localizer["Event"]: </b>@Order.Ticket.Event.Name
                                        </div>
                                        <div class="event-name">
                                            <b>@Localizer["Date"]: </b>@Order.Ticket.Event.Date.ToString("MM.dd.yyyy")
                                        </div>
                                        @*<div>
                                            <b>@Localizer["Seller"]: </b>@Order.Ticket.Seller.FirstName @Order.Ticket.Seller.LastName
                                        </div>*@
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="ticket-price" style="padding-top: 20px;">
                                                    <h4><b>$@Order.Ticket.Price</b></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                indexesOfVisibleOrdersConfirmed.Add(Order.Id);
                                visibleOrdersConfirmedAmount++;
                            }
                        }
                        else if (visibleOrdersConfirmedAmount == 4)
                        {
                            visibleOrdersConfirmedAmount = 0;
                            break;
                        }
                    }
                </div>
                    <br />
            }
        }
        else
        {
            <h4>@Localizer["There are no orders in this status."]</h4>
        }

        <br /><br />

        <!-- REJECTED ORDERS -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-user-times" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Rejected"]
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        @if (Model.RejectedOrders.Count() > 0)
        {
            @for (int i = 0; i < ViewBag.RowsAmountRejectedOrders; i++)
            {
                <div class="row">
                    @foreach (var Order in Model.RejectedOrders)
                    {
                        if (visibleOrdersRejectedAmount < 4)
                        {
                            if (!indexesOfVisibleOrdersRejected.Contains(Order.Id))
                            {
                                <div class="col-md-3">
                                    <div class="ticket-card">
                                        <div class="event-name">
                                            <b>@Localizer["Event"]: </b>@Order.Ticket.Event.Name
                                        </div>
                                        <div class="event-name">
                                            <b>@Localizer["Date"]: </b>@Order.Ticket.Event.Date.ToString("MM.dd.yyyy")
                                        </div>
                                        @if (Order.RejectionComment != null)
                                        {
                                            <div class="event-name">
                                                <b>@Localizer["Comment"]:</b> @Order.RejectionComment
                                            </div>
                                        }
                                        @*<div>
                                            <h5><b>@Localizer["seller"]: </b>@Order.Ticket.Seller.FirstName @Order.Ticket.Seller.LastName</h5>
                                        </div>*@
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="ticket-price" style="padding-top: 20px;">
                                                    <h4><b>$@Order.Ticket.Price</b></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                indexesOfVisibleOrdersRejected.Add(Order.Id);
                                visibleOrdersRejectedAmount++;
                            }
                        }
                        else if (visibleOrdersRejectedAmount == 4)
                        {
                            visibleOrdersRejectedAmount = 0;
                            break;
                        }
                    }
                </div>
                        <br />
            }
        }
        else
        {
            <h4>@Localizer["There are no orders in this status."]</h4>
        }


    </div>

</div>