﻿@using Epam.Labs.TrainingProject.AppCore.Entities
@model IEnumerable<Order>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
    
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/tickets.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Localizer["Ticket orders"]
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>AppUsers / WfCTicketOrders</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 80%;">

    <div class="container" style="width: 100%;">

        <!-- TITLES -->
        <div class="row">
            <div class="col-md-6">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                E
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Model.First().Ticket.Event.Name
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Model.First().Ticket.Event.Date.ToString("MM.dd.yyyy")
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br />

        @foreach (var item in Model)
        {
            <div class="row ticket-order" style="width: 65%;">

                <div class="container">

                    <div class="row">

                        <div class="col-md-4">
                            <h5><b>@Localizer["Buyer"]: </b></h5>
                        </div>
                        <div class="col-md-8">
                            <h5>@item.Buyer.FirstName @item.Buyer.LastName</h5>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <h5><b>@Localizer["Order date"]: </b></h5>
                        </div>
                        <div class="col-md-8">
                            <h5>@item.Date.ToString("MM.dd.yyyy")</h5>
                        </div>

                    </div>

                    <br />

                    <div class="row">

                        <div class="col-md-12">
                            <a class="btn btn-success btn-confirm" asp-action="ConfirmTicketOrdering" asp-controller="AppUsers" asp-route-id="@item.Id"><i class="fa fa-check" aria-hidden="true"></i> @Localizer["Confirm"]</a>
                            &nbsp;
                            <a class="btn btn-success btn-remove" asp-action="RejectTicketOrdering" asp-controller="AppUsers" asp-route-id="@item.Id"><i class="fa fa-times" aria-hidden="true"></i> @Localizer["Reject"]</a>
                        </div>

                    </div>

                </div>

            </div>
        }

    </div>

</div>