﻿@using Epam.Labs.TrainingProject.Infrastructure.DTO
@model IEnumerable<CategoryWithTopEventDTO>

@foreach (var categoryWithEvent in Model)
{
    <li class="custom-list-item">
        <b>@categoryWithEvent.CategoryName</b>
        <br>
        <a href="@Url.Action("Event", "Home", new { Id = categoryWithEvent.TopEventOfCategory.Id })">@categoryWithEvent.TopEventOfCategory.Name</a>
    </li>
}
