﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    var date = DateTime.Now.ToString("dddd, MMMM, dd, yyyy");
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

    <link rel="icon" href="http://eurodoc.net/wp-content/uploads/2012/07/logotype-eurodoc-e-print.png">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>

    <link type="text/css" rel="stylesheet" href="~/css/common.css" />
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>
<body>

    <!-- UP-HEADER -->
    <div class="container custom-up-header">
        <div class="row">
            <div class="col-lg-4 custom-up-header-left">
                <a href="~/Home/Index">
                    <img class="custom-up-header-logo" src="http://www.eventum.com.au/images/eventum-logo.png" alt="">
                </a>
            </div>
            <div class="col-lg-8 text-right">
                <ul class="list-inline custom-up-header-links">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="list-inline-item custom-up-header-link">
                            @date
                        </li>
                        <li class="list-inline-item custom-up-header-link">
                            <a href="~/Account/Login" class="link-text"><i class="fa fa-user" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="list-inline-item custom-up-header-link">
                            @Localizer["Hello"], @User.Identity.Name
                        </li>
                        <li class="list-inline-item custom-up-header-link">
                            <a href="" id="userMenu" class="link-text">
                                <i class="fa fa-user" aria-hidden="true"></i> <span class="sr-only">(current)</span>
                                &nbsp; <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </a>
                        </li>
                    }
                    <li class="list-inline-item custom-up-header-link">
                        <a href="#" class="link-text"><i class="fa fa-search" aria-hidden="true"></i> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="list-inline-item custom-up-header-link">
                        <a href="" id="cultureMenu" class="link-text">
                            @ViewBag.CurrentCulture
                            &nbsp; <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- CULTURE-MENU DROPDOWN -->
    <div class="container culture-menu">
        <div class="row">
            <div class="col-lg-12 events-categories" style="padding-left: 0; padding-right: 0; padding-top: 20px;">
                <ul class="events-categories-list">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </ul>
            </div>
        </div>
    </div> 

    <!-- USER-MENU DROPDOWN -->
    <div class="container user-menu">
        <div class="row">
            <div class="col-lg-12 events-categories" style="padding-left: 0; padding-right: 0; padding-top: 20px;">
                <ul class="events-categories-list">
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("admin"))
                        {
                            <a href="@Url.Action("AdminArea", "Admin")">
                                <li class="events-categories-list-item">
                                    <div class="row">
                                        <div class="col-lg-10 category-link">
                                            <p style="margin: 0;">@Localizer["Admin area"]</p>
                                        </div>
                                        <div class="col-lg-2" style="padding: 10px 0;">
                                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </li>
                            </a>
                        }
                    }
                    <a href="~/AppUsers/UserInfo">
                        <li class="events-categories-list-item">
                            <div class="row">
                                <div class="col-lg-10 category-link">
                                    <p style="margin: 0;">@Localizer["My profile"]</p>
                                </div>
                                <div class="col-lg-2" style="padding: 10px 0;">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="~/AppUsers/UserTickets">
                        <li class="events-categories-list-item">
                            <div class="row">
                                <div class="col-lg-10 category-link">
                                    <p style="margin: 0;">@Localizer["My tickets"]</p>
                                </div>
                                <div class="col-lg-2" style="padding: 10px 0;">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="~/AppUsers/UserOrders">
                        <li class="events-categories-list-item">
                            <div class="row">
                                <div class="col-lg-10 category-link">
                                    <p style="margin: 0;">@Localizer["My orders"]</p>
                                </div>
                                <div class="col-lg-2" style="padding: 10px 0;">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                    </a>
                    <a href="~/Account/Logout">
                        <li class="events-categories-list-item">
                            <div class="row">
                                <div class="col-lg-10 category-link">
                                    <p style="margin: 0;">@Localizer["Log out"]</p>
                                </div>
                                <div class="col-lg-2" style="padding: 10px 0;">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                            </div>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div> 

    <!-- NAVBAR -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="myNav">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="navbar-brand brand-user" href="~/Account/Login">
                <i class="fa fa-user" aria-hidden="true"></i>
                Log in
            </a>
        }
        else
        {
            <a class="navbar-brand brand-user" href="~/AppUsers/UserInfo">
                <i class="fa fa-user" aria-hidden="true"></i>
                @User.Identity.Name
            </a>
        }

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav navbar-links">
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/Index">@Localizer["HOME"]</a>
                </li>
                <li class="nav-item dropdown-show">
                    <a class="nav-link" id="menu" href="@Url.Action("Events", "Home")">
                        @Localizer["EVENTS"] &nbsp; <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Ticket/Tickets">@Localizer["TICKETS"]</a>
                </li>
                <!-- CART -->
                <li class="nav-item">
                    @if (User.Identity.IsAuthenticated)
                    {
                        @await Component.InvokeAsync("ShoppingCart")
                    }
                    else
                    {
                        <a class="nav-link" href="~/Account/Login"> <span class="badge badge-pill badge-primary">0</span> <i class="fa fa-shopping-cart" aria-hidden="true"></i> </a>
                    }
                </li>
            </ul>
        </div>
    </nav>

    <!-- EVENTS DROPDOWN -->
    <div class="dropdown-custom" aria-labelledby="navbarDropdownMenuLink">
        <div class="container" style="width: 100%;">
            <div class="row">
                <div class="col-lg-12 events-categories" style="padding-left: 0; padding-right: 0; padding-top: 20px;">
                    <ul class="events-categories-list">
                        <distributed-cache name="MyCache">
                            @await Component.InvokeAsync("CategoriesList")
                        </distributed-cache>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- MAIN CONTENT OF PAGES -->
    @RenderBody()


    <!-- FOOTER -->
    <div class="container footer">
        <!-- UP FOOTER -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="on-footer">
                    <div class="row on-footer-data">
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <img class="custom-up-header-logo-title" src="http://demo.themeum.com/wordpress/eventum/wp-content/themes/eventum/images/logo.png" alt="">
                            <br><br>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et aliqua.
                            </p>
                            <ul class="about-info">
                                <li>@Localizer["Email"]: info@yourcompay.com</li>
                                <li>@Localizer["Fax"]: + 0123 456 789</li>
                            </ul>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <h5>@Localizer["Category"]</h5>
                            <br>
                            <div class="wrap">
                                <ul>
                                    <distributed-cache name="MyCacheFooter">
                                        @await Component.InvokeAsync("CategoriesList", new { param = "footerLinks" })
                                    </distributed-cache>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-3">
                            <h5>@Localizer["Social link"]</h5>
                            <br>
                            <ul class="social">
                                <li><i class="fa fa-facebook" aria-hidden="true"></i> &nbsp; Facebook</li>
                                <li><i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; Twitter</li>
                                <li><i class="fa fa-linkedin" aria-hidden="true"></i> &nbsp; Linkedin</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>

        <!-- DOWN FOOTER -->
        <div class="row down-footer">
            <div class="col-md-1"></div>
            <div class="col-md-7 down-footer-data">
                &copy; 2017 <a href="">Eventum</a> @Localizer["All Rights Reserved"].
            </div>
            <div class="col-md-3 down-footer-data text-right">
                @Localizer["Designed & Development By"] <a href="">Anne Hanush</a>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>



    <!-- DROPDOWN SCRIPT: CATEGORIES-MENU -->
    <script>
        $("#menu").hover(function () {
            $('.dropdown-custom').show(400, 'linear');
        });
        $(".dropdown-custom").mouseleave(function () {
            $(this).hide(400);
        });
    </script>

    <!-- DROPDOWN SCRIPT: USER-MENU, CULTURE-MENU -->
    <script>
        $("#userMenu").hover(function () {
            $('.user-menu').show(400);
        });
        $(".user-menu").mouseleave(function () {
            $(this).hide(400);
        });

        $("#cultureMenu").hover(function () {
            $('.culture-menu').show(400);
        });
        $(".culture-menu").mouseleave(function () {
            $(this).hide(400);
        });
    </script>

</body>
</html>
