﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@foreach (var culture in ViewBag.Cultures)
{
    if (culture.Name != ViewBag.CurrentCulture)
    {
        <li class="events-categories-list-item">
            <form asp-action="SetLanguage" method="post" asp-route-cultureName="@culture.Name"
                  asp-route-returnUrl="@ViewData["ReturnUrl"]">

                <button class="btn btn-link" type="submit" style="cursor:pointer;">@culture.Name</button>

            </form>
        </li>
    }
}