﻿@using Epam.Labs.TrainingProject.Web.Models.ViewModels
@model ViewModelEvents

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";

    int visibleEventsAmount = 0;
    List<Guid> indexesOfVisibleEvents = new List<Guid>();
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/events.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-spinner" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            @if (Model.CategoryName == "all")
                            {
                                <div class="square-title">
                                    @Localizer["All existing events"]
                                </div>
                            }
                            else
                            {
                                <div class="square-title">
                                    @Model.CategoryName
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            @if (Model.CategoryName == "all")
                            {
                                <h3>Home / Events</h3>
                            }
                            else
                            {
                                <h3>Home / Events / @Model.CategoryName</h3>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 80%;">
    <div class="container" style="width: 100%;">

        <!-- TITLES -->
        <div class="row">
            <div class="col-md-9">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Events"]
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-bell-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black">
                            @Localizer["Upcoming"]
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!-- Events -->
        <div class="row">
            <div class="col-md-9">
                
                @for (int i = 0; i < Model.RowsAmount; i++)
                {
                    <div class="row">
                        @foreach (var Event in Model.Events)
                    {
                        if (visibleEventsAmount < 3)
                        {
                            if (!indexesOfVisibleEvents.Contains(Event.Id))
                            {
                                string date = Event.Date.ToString("MM.dd.yyyy");

                                    <div class="col-md-4">
                                        <div class="card card-inverse small-card" style="padding-top: 20px;">
                                            <div class="card-block block-small-card">
                                                <img src="@Event.Banner" alt="">
                                                <div class="card-block-text-small">
                                                    <h5 class="card-title">@Event.Name</h5>
                                                    <p class="card-text">@Event.Venue.Name, @Event.Venue.City.Name, @date</p>
                                                    <a href="@Url.Action("Event", "Home", new { Id = Event.Id })" class="btn btn-primary">@Localizer["More info"]</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    indexesOfVisibleEvents.Add(Event.Id);
                                    visibleEventsAmount++;
                                }
                            }
                            else if (visibleEventsAmount == 3)
                            {
                                visibleEventsAmount = 0;
                                break;
                            }
                        }
                    </div>
                }

            </div>
            
            <div class="col-md-3">
                <div class="row">
                    <br />

                    <div class="row categories">
                        <ul class="custom-list" style="width: 100%;">
                            @*<distributed-cache name="MyCacheCategoriesWithTopEvents">
                                
                            </distributed-cache>*@

                            @await Component.InvokeAsync("CategoriesWithTopEvents")

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        
        <br />

        <!-- Pagination -->
        <div class="row">
            <div class="col-md-9">
                <div class="row text-center" style="width: 100%;">
                    <div class="col-lg-12">
                        <br />
                        @if (Model.PageViewModel.HasPreviousPage)
                        {
                            <a asp-action="Events" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" class="btn btn-default btn-page">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                <b><i class="fa fa-angle-double-left" aria-hidden="true"></i> @Localizer["Prev"]</b>
                            </a>
                        }
                        @if (Model.PageViewModel.HasNextPage)
                        {
                            <a asp-action="Events" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" class="btn btn-default btn-page">
                                <b>@Localizer["Next"] <i class="fa fa-angle-double-right" aria-hidden="true"></i></b>
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <br /><br />

    </div>
</div>
