﻿@using Epam.Labs.TrainingProject.Web.Models.ViewModels
@model ViewModelEvent

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_LayoutProfile";
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/events.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
    <div class="container" style="width: 85%;">
        <div class="custom-background-title">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div>
                            <div class="square">
                                <div class="square-item">
                                    <i class="fa fa-spinner" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <div class="square-right">
                            <div class="square-title">
                                @Model.CurrentEvent.Category.Name
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <h3>Home / Event / @Model.CurrentEvent.Name</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 60%;">
    <div class="container" style="width: 100%;">

        <div class="row">
            <div class="col-md-9">
                <img src="@Model.CurrentEvent.Banner" alt="" style="width: 100%;" />

                <br /><br />
                
                <h2 style="font-weight: 800;">@Model.CurrentEvent.Name</h2>

                @if (Model.CurrentEvent.Description != "")
                {
                    <br />
                    <p>@Model.CurrentEvent.Description</p>
                }

                <br />
                <hr />

                <div class="row" style="width: 100%;">
                    <div class="col-md-4">
                        <div class="row" style="margin-left: 10px;">
                            <div>
                                <div class="square-mini">
                                    <div class="square-item-mini">
                                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="square-right">
                                <div class="square-title-black-mini">
                                    <b>@Localizer["Date"]</b>  <br /> <p style="font-size: 17px;">@Model.CurrentEvent.Date.ToString("MM.dd.yyyy")</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row" style="margin-left: 10px;">
                            <div>
                                <div class="square-mini">
                                    <div class="square-item-mini">
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="square-right">
                                <div class="square-title-black-mini">
                                    <b>@Localizer["Price"]</b>  <br />  
                                    @if (Model.CurrentEvent.MinTicketPrice != Model.CurrentEvent.MaxTicketPrice)
                                    {
                                        <p style="font-size: 17px; color: #8dc63f; font-weight:700;">$@Model.CurrentEvent.MinTicketPrice - @Model.CurrentEvent.MaxTicketPrice</p>
                                    }
                                    else
                                    {
                                        <p style="font-size: 17px; color: #8dc63f; font-weight:700;">$@Model.CurrentEvent.MinTicketPrice</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row" style="margin-left: 10px;">
                            <div>
                                <div class="square-mini">
                                    <div class="square-item-mini">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="square-right">
                                <div class="square-title-black-mini">
                                    <b>@Localizer["City"]</b>  <br /> <p style="font-size: 17px;">@Model.CurrentEvent.Venue.City.Name</p>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row" style="width: 100%;">
                    <div class="col-md-9">
                        <div class="row" style="margin-left: 10px;">
                            <div>
                                <div class="square-mini">
                                    <div class="square-item-mini">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="square-right">
                                <div class="square-title-black-mini">
                                    <b>@Localizer["Venue"]</b>  <br /> <p style="font-size: 17px;">@Model.CurrentEvent.Venue.Name</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 text-right" style="line-height: 76px;">
                        <a href="@Url.Action("Tickets", "Ticket", new { eventId = Model.CurrentEvent.Id })" class="btn btn-default btn-find-tickets">@Localizer["Find tickets"]</a>
                    </div>
                </div>

                <hr />
                <br />

            </div>
            <div class="col-md-3">
                <div class="row" style="padding-left: 15px;">
                    <div>
                        <div class="square">
                            <div class="square-item">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="square-right">
                        <div class="square-title-black" style="font-size: 18px;">
                            @Localizer["You may also like"]
                        </div>
                    </div>
                </div>
                <div class="row">
                    <br />
                    <div class="row categories">
                        <ul class="custom-list" style="width: 100%;">
                            @foreach (var _event in Model.TopEventsOfCategory)
                            {
                                if (_event.Id != Model.CurrentEvent.Id)
                                {
                                    <li class="custom-list-item">
                                        <b>@_event.Category.Name</b>
                                        <br>
                                        <a href="@Url.Action("Event", "Home", new { Id = _event.Id })">@_event.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>