﻿@using Epam.Labs.TrainingProject.Web.Models.ViewModels
@model ViewModelIndex

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = "Eventum";
    Layout = "_Layout";
}

@section AddToHead{
    <link type="text/css" rel="stylesheet" href="~/css/main.css" />
}

<!-- BACKGROUND -->
<div class="custom-background">
</div>

<!-- MAIN CONTENT -->
<div class="container main-content" style="width: 80%;">
    <div class="row">

        <!-- CAPTIONS -->
        <div class="col-md-9">
            <div class="row">
                <div>
                    <div class="square">
                        <div class="square-item">
                            <i class="fa fa-bell-o square-item" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="square-right">
                    <div class="square-title">
                        @Localizer["Upcoming events"]
                    </div>
                </div>
            </div>

            <br><br />

            <!-- EVENTS -->
            <div class="row">
                <!-- big card -->
                <div class="col-md-8 big-event">
                    <div class="card card-inverse big-card">
                        <div class="card-block">
                            <img src="@Model.UpcomingEvents[0].Banner" alt="">
                            <div class="card-block-text">
                                <h3 class="card-title">@Model.UpcomingEvents[0].Name</h3>
                                <p class="card-text">@Model.UpcomingEvents[0].Venue.Name, @Model.UpcomingEvents[0].Venue.City.Name</p>
                                <a href="@Url.Action("Event", "Home", new { Id = @Model.UpcomingEvents[0].Id })" class="btn btn-primary">@Localizer["More info"]</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- small cards -->
                <div class="col-md-4 small-events">
                    <div class="card card-inverse small-card">
                        <div class="card-block block-small-card">
                            <img src="@Model.UpcomingEvents[1].Banner" alt="">
                            <div class="card-block-text-small">
                                <h5 class="card-title">@Model.UpcomingEvents[1].Name</h5>
                                <p class="card-text">@Model.UpcomingEvents[1].Venue.Name, @Model.UpcomingEvents[1].Venue.City.Name</p>
                                <a href="@Url.Action("Event", "Home", new { Id = @Model.UpcomingEvents[1].Id })" class="btn btn-primary">@Localizer["More info"]</a>
                            </div>
                        </div>
                    </div>
                    <div class="card card-inverse small-card" style="padding-top: 20px;">
                        <div class="card-block block-small-card">
                            <img src="@Model.UpcomingEvents[2].Banner" alt="">
                            <div class="card-block-text-small">
                                <h5 class="card-title">@Model.UpcomingEvents[2].Name</h5>
                                <p class="card-text">@Model.UpcomingEvents[2].Venue.Name, @Model.UpcomingEvents[2].Venue.City.Name</p>
                                <a href="@Url.Action("Event", "Home", new { Id = @Model.UpcomingEvents[2].Id })" class="btn btn-primary">@Localizer["More info"]</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin: 0;">
                    <div class="col-md-4 small-events">
                        <div class="card card-inverse small-card" style="padding-top: 20px;">
                            <div class="card-block block-small-card">
                                <img src="@Model.UpcomingEvents[3].Banner" alt="">
                                <div class="card-block-text-small">
                                    <h5 class="card-title">@Model.UpcomingEvents[3].Name</h5>
                                    <p class="card-text">@Model.UpcomingEvents[3].Venue.Name, @Model.UpcomingEvents[3].Venue.City.Name</p>
                                    <a href="@Url.Action("Event", "Home", new { Id = @Model.UpcomingEvents[3].Id })" class="btn btn-primary">@Localizer["More info"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 small-events">
                        <div class="card card-inverse small-card" style="padding-top: 20px;">
                            <div class="card-block block-small-card">
                                <img src="@Model.UpcomingEvents[4].Banner" alt="">
                                <div class="card-block-text-small">
                                    <h5 class="card-title">@Model.UpcomingEvents[4].Name</h5>
                                    <p class="card-text">@Model.UpcomingEvents[4].Venue.Name, @Model.UpcomingEvents[4].Venue.City.Name</p>
                                    <a href="@Url.Action("Event", "Home", new { Id = @Model.UpcomingEvents[4].Id })" class="btn btn-primary">@Localizer["More info"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 small-events">
                        <div class="card card-inverse small-card" style="padding-top: 20px;">
                            <div class="card-block block-small-card">
                                <img src="@Model.UpcomingEvents[5].Banner" alt="">
                                <div class="card-block-text-small">
                                    <h5 class="card-title">@Model.UpcomingEvents[5].Name</h5>
                                    <p class="card-text">@Model.UpcomingEvents[5].Venue.Name, @Model.UpcomingEvents[5].Venue.City.Name</p>
                                    <a href="@Url.Action("Event", "Home", new { Id = @Model.UpcomingEvents[5].Id })" class="btn btn-primary">@Localizer["More info"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- CATEGORIES -->
        <div class="col-md-3 categories">
            <div class="row">
                <div>
                    <div class="square">
                        <div class="square-item">
                            <i class="fa fa-fire" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="square-right">
                    <div class="square-title">
                        @Localizer["Categories"]
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <ul class="custom-list" style="width: 100%;">
                    @*<distributed-cache name="MyCacheCategoriesWithTopEvents">
                        
                    </distributed-cache>*@

                    @await Component.InvokeAsync("CategoriesWithTopEvents")

                </ul>
            </div>

        </div>
    </div>
</div>