﻿@using Epam.Labs.TrainingProject.AppCore.Entities
@model IEnumerable<Category>

@foreach (var category in Model)
{
    <a href="@Url.Action("Events", "Home", new { categoryId = category.Id })">
        <li class="events-categories-list-item">
            <div class="row">
                <div class="col-lg-10 category-link">
                    <p style="margin: 0;">@category.Name</p>
                </div>
                <div class="col-lg-2" style="padding: 10px 0;">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </div>
            </div>
        </li>
    </a>
}