﻿@using Epam.Labs.TrainingProject.AppCore.Entities
@model IEnumerable<Category>

@foreach (var category in Model)
{
    <li>
        <a href="@Url.Action("Events", "Home", new { categoryId = category.Id })" style="color: #fff;">
            @category.Name
        </a>
    </li>
}